/* common */
h2 {
    font-size: 50px;
    font-weight: 600;
}

h3 {
    font-size: 22px;
    padding-bottom: 50px;
}

.wrapper_60 {
    width: 60%;
    margin: auto;
}

.my_btn {
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.my_btn:hover {
    background-color: white;
    color: black;
}

.green_btn {
    background-color: #1abc9c;
    padding: 10px 15px;
    font-size: 16px;
}
.green_btn:hover {
    background-color: #159a80;
    color: white;
}

#footer_bottom {
    text-align: center;
}

/* Header */
.my_navbar {
    background-color: #2c3e50;
    /* color: white; */
}

.my_brand {
    display: inline-block;
    font-size: 20px;
    line-height: 50px;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: 700;
}

.my_navbar a {
    text-decoration: none;
    color: white;
}

.my_navbar .navbar-nav > li > a {
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
}

.my_navbar .nav > li > a:focus, 
.my_navbar .nav > li > a:hover {
    background-color: #2c3e50 ;
    color: #1abc9c;

}

.my_navbar .navbar-toggle .icon-bar {
    background-color: white;
}


#jumbotron {
    /* height: 300px; */
    text-align: center;
    margin-top: 70px;
    background-color: #1abc9c;
    color: white;
    text-transform: uppercase;

}

#jumbotron_avatar {
    height: 200px;
    margin-top: 50px;
}

/* main content */

#portfolio {
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
}

.content {
    margin: 15px 0;
    border-radius: 10px;
}

.content img {
    height: 250px;
}

.color_1 {
    background-color: #ba4b63;
}
.color_2 {
    background-color: #1ea4b6;
}
.color_3 {
    background-color: #140f0f;
}
.color_4 {
    background-color: #1c83c1;
}
.color_5 {
    background-color: #0e38b5;
}
.color_6 {
    background-color: #ccb2a3;
}

#about {
    /* height: 300px; */
    text-align: center;
    padding: 50px 0;
    background-color: #1abc9c;
    color: white;
}
#about h2 {
    text-transform: uppercase;
    font-weight: 600;
}

#about p {
    text-align: left;
    font-size: 17px;
    /* letter-spacing: 1px; */
    font-weight: 600;
    padding-bottom: 50px;
}

#contact h2 {
    text-align: center  ;
}

/* form */
.my_style_form {
    display: block;
    width: 100%;
    height: 50px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid lightgrey;
    color: #2c3e50;
    font-weight: 600;
    
}
.my_style_form::placeholder { 
    color: #2c3e50;
    opacity: 1;
}
  
.my_style_form:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #2c3e50;
}

.my_style_form::-ms-input-placeholder { /* Microsoft Edge */
    color: #2c3e50;
}

#text_area {
    padding-top: 20px;
    padding-bottom: 200px;
}
